[user]
  name = Patrick Force
  email = patrickforce@gmail.com
[core]
  editor = nano
  excludesfile = ~/.gitignore
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[web]
  browser = google-chrome
[credential]
  helper = osxkeychain
[push]
  default = simple
[pull]
  rebase = true
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[alias]
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = difftool --dir-diff
  l = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit
